.carousel-item img {
    height: 700px !important;
}

.carousel {
    z-index: -1;
}

.heading {
    text-align: center;
    font-size: 50px;
    color: #333333;
}

.content {
    margin-top: 600px;
    background-color: #E0E4CC;
    color: #333333;
    font-size: 25px;
}