.carousel-item img {
    height: 700px !important;
}

.carousel {
    z-index: -1;
}

.content {
    margin-top: 600px;
    background-color: #E0E4CC;
}

.heading {
    text-align: center;
    font-size: 50px;
    color: #1A535C;
}

.boxes {
    text-align: center;
    border: 2px solid #1A535C;
    border-radius: 30px;
    width: 20%;
    height: 80%;
}