{%extends 'Skeleton.html'%}

{%block head%}
<link href="static/Explore.css" rel="stylesheet" />
{% endblock %}

{%block body%}

<div class="container-fluid content p-3 mx-auto justify-content-center">

  <div class="heading">
    Explore Online Sessions
  </div>

  <div class="container d-flex mx-auto overflow-auto justify-content">
   
    <div class="box text-center p-3">
      <img src="static/Yoga1.jpg" class="rounded-circle" style=" width: 80px">
      <br>

      <hr style="color: black; height: 2px">
      Name
      <br>
      Timings
      <br>
      Fees
      <br>
      <br>
      <button class="btn btn-success">
        View
      </button>
    </div>
     <div class="box text-center p-3">
      <img src="static/Yoga1.jpg" class="rounded-circle" style=" width: 80px">
      <br>

      <hr style="color: black; height: 2px">
      Name
      <br>
      Timings
      <br>
      Fees
      <br>
      <br>
      <button class="btn btn-success">
        View
      </button>
    </div>
     <div class="box text-center p-3">
      <img src="static/Yoga1.jpg" class="rounded-circle" style=" width: 80px">
      <br>

      <hr style="color: black; height: 2px">
      Name
      <br>
      Timings
      <br>
      Fees
      <br>
      <br>
      <button class="btn btn-success">
        View
      </button>
    </div>
     <div class="box text-center p-3">
      <img src="static/Yoga1.jpg" class="rounded-circle" style=" width: 80px">
      <br>

      <hr style="color: black; height: 2px">
      Name
      <br>
      Timings
      <br>
      Fees
      <br>
      <br>
      <button class="btn btn-success">
        View
      </button>
    </div>
    
  </div>

</div>
{%endblock%}