{% extends "Skeleton.html" %}

{%block head%}
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
  integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous" />
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
  integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

<link href="static/Home.css" rel="stylesheet" />
{%endblock%}

{%block body%}

<div class="carousel slide w-100 fixed-top" data-bs-ride="carousel" data-interval="5">

  <div class="carousel-inner">

    <div class="carousel-item active">
      <img src="static/Yoga1.jpg" alt="Yoga" class="d-block w-100">
    </div>

    <div class="carousel-item">
      <img src="static/Yoga2.jpg" alt="Yoga" class="d-block w-100">
    </div>

    <div class="carousel-item">
      <img src="static/Yoga3.jpg" alt="Yoga" class="d-block w-100">
    </div>

  </div>

</div>

<div class="container-fluid content">
  Lorem ipsum dolor sit amet consectetur adipisicing elit. Quidem, voluptates. Dolores vel perferendis laudantium modi
  ea, sint obcaecati, maiores numquam rem rerum sunt temporibus tempora possimus tempore earum dignissimos reprehenderit
  omnis laboriosam veniam, iure culpa? Nostrum exercitationem, tempora quisquam expedita quaerat ducimus, deserunt
  delectus, obcaecati nesciunt iure soluta ullam? Dolorum suscipit itaque laudantium, impedit incidunt amet dolores
  animi voluptate, culpa debitis enim, doloremque sapiente fugiat repudiandae hic at aut aliquam quas atque? Alias
  eveniet assumenda magni nostrum ipsum culpa cumque est dignissimos quisquam voluptatum molestias impedit ut ad,
  architecto a itaque fugiat! Perferendis molestiae expedita beatae reiciendis aliquam ipsam assumenda fuga amet ipsum
  ut voluptate, possimus optio veniam aspernatur excepturi. Sapiente, eum officia facilis itaque commodi deleniti
  adipisci odit corrupti recusandae obcaecati perspiciatis at, non consequuntur iste molestiae! Nostrum, ullam. Ratione
  voluptatibus aliquam modi, voluptatum nulla doloremque saepe distinctio necessitatibus illum enim maxime provident
  perspiciatis deserunt temporibus. Adipisci, iusto accusantium dolore odio dolorem atque mollitia non expedita enim
  quos obcaecati cupiditate rerum? Voluptates, doloribus similique. Veniam dolor, pariatur aspernatur quibusdam optio
  laborum blanditiis excepturi, quasi ex commodi voluptates a quam eius sequi molestias alias ea. Fuga cumque numquam
  libero, necessitatibus aliquid at. Eligendi cumque asperiores vitae aliquam maxime ipsa harum libero? Commodi aperiam
  eaque minima. Atque iste voluptatum molestias esse autem ipsa a, id maiores sint pariatur consequuntur similique quia
  magni voluptatibus soluta, delectus ipsum architecto laudantium? Pariatur, neque? Explicabo quidem at possimus nostrum
  hic culpa eaque beatae adipisci, minus molestias a eum, cupiditate quod obcaecati alias saepe? Assumenda vitae
  pariatur nisi sed delectus minima atque, ab recusandae porro animi, fugit necessitatibus iure quisquam consectetur
  tempora quae beatae sunt consequatur velit, illum suscipit. Quibusdam velit dolores reiciendis praesentium illum
  consequuntur consequatur sequi dolorum fuga, esse dignissimos molestias sed quaerat explicabo labore assumenda, vero
  commodi, ea laudantium recusandae quisquam sit quos? Tempore quis officiis repellat earum amet fugiat eum, asperiores,
  minus sequi consequatur libero delectus unde necessitatibus dolores. Provident, a nostrum. Minus cumque modi voluptate
  minima voluptatibus. Accusamus, maiores asperiores? Nesciunt, sunt dicta inventore nobis explicabo ab, quo placeat
  itaque officiis facere doloribus consectetur quam praesentium totam pariatur voluptatibus harum in cumque. Sapiente
  veniam tempore expedita ipsum placeat ipsam hic, est labore ex, at saepe quod minima in accusamus amet suscipit
  itaque. Adipisci doloribus ipsa vitae eaque facere quasi harum suscipit, quisquam dolore vel recusandae vero,
  provident error, veniam impedit quibusdam exercitationem pariatur neque temporibus quis non ratione tempora dolorem
  fuga! Porro, iste voluptate veritatis nemo deleniti asperiores facere error quaerat! Ducimus dicta, aperiam cumque
  dolores molestiae ipsa veniam quis! Rerum sunt consectetur laborum velit, ratione eaque distinctio saepe doloremque
  blanditiis. Corporis asperiores deleniti ipsum, sunt, omnis soluta, magni accusamus consequuntur aperiam dolorem
  tenetur inventore repellat earum? Commodi magni nostrum, similique sed exercitationem rem ratione aperiam minus ut
  labore voluptatibus voluptates dolore, eveniet ad, quia assumenda soluta officiis? At fugiat laborum illo earum maxime
  expedita porro nesciunt odit inventore reiciendis labore nulla eius incidunt nam, error atque, dolor nemo! Voluptatem
  quos, culpa nobis quia omnis sequi itaque ratione. Repellendus, vero iusto aliquam hic magnam deleniti minima tempora
  aperiam saepe quod porro dolor fuga ratione, dicta eius. Consequatur in facilis non doloribus earum, assumenda
  molestias amet debitis! Esse non ullam quia nisi facere saepe architecto voluptate maiores quos nam voluptatibus autem
  temporibus debitis magnam exercitationem natus numquam consequuntur neque, ratione doloremque. Repellat consequatur ea
  ut fuga necessitatibus doloremque dicta vel numquam est veritatis voluptates possimus blanditiis cum molestias debitis
  odio omnis cumque a quas et doloribus corrupti, maiores beatae velit. Quaerat repudiandae voluptate, aspernatur ex,
  natus, voluptas sit alias iure maxime molestias laboriosam? Neque maiores alias repellat at! Libero commodi cumque
  quam odit excepturi numquam nulla sed facilis impedit enim obcaecati, magnam atque. In magni sint quo dolore assumenda
  at ipsam unde minima. Error repudiandae quis fugiat nesciunt! Sed, explicabo cumque. Blanditiis dicta consequuntur
  asperiores nisi dolorum, ipsa veritatis excepturi unde. Exercitationem et accusamus, cum, delectus deserunt soluta
  odit commodi dolorum nulla expedita minus libero maxime ratione vero voluptatem enim quae consequuntur rem officiis?
  Quia, velit similique! Asperiores quam dignissimos sapiente, laborum perspiciatis vitae culpa voluptates? Voluptatum
  libero delectus sunt, inventore odit, repellendus assumenda et debitis odio fuga dolore sit nihil corrupti. Officia
  autem, esse alias, dolorum modi sunt doloremque et eum ratione reiciendis rerum? Quisquam obcaecati aut esse dolore
  non, adipisci hic eius inventore laboriosam atque! Eius expedita autem nulla! Vero laudantium fugit reiciendis
  provident, quisquam nemo itaque laboriosam? Autem doloribus repudiandae eos, unde aliquid nemo libero nulla
  voluptatibus accusamus, nam natus, tenetur quas culpa iure consequatur reiciendis cum repellat obcaecati in esse
  inventore ipsum? Est pariatur, ab aperiam hic ducimus nulla sapiente molestiae. Mollitia vero ratione, atque
  praesentium perspiciatis numquam pariatur iste, culpa nisi porro itaque eaque et quia ipsa deserunt eius similique,
  dicta maiores! Labore voluptatibus, qui nobis quo reiciendis cupiditate repellendus unde culpa quos laborum provident
  quaerat. Optio ab vel perspiciatis harum expedita nam maxime debitis labore, inventore ipsa sit molestiae eius, illum
  error animi deleniti quae nihil maiores ad eligendi voluptates minus! Maxime asperiores cum dolore quos numquam sint
  eaque voluptatum, impedit fuga recusandae autem ipsa ut sed vel aperiam dolor id laborum suscipit dignissimos rerum
  laudantium velit commodi? Reprehenderit earum dignissimos laborum voluptatum magnam in, sint ab nisi enim obcaecati
  tempore, quibusdam explicabo nihil fuga dolorem nostrum ipsum sapiente rem consectetur rerum nobis deleniti dolores.
  Dignissimos dolor qui nostrum. Nulla consectetur tempore vero, nemo quibusdam ducimus rem ad! Magnam minus, accusamus
  voluptas quam facilis deleniti placeat ipsum iure ea, numquam maiores! Delectus omnis, voluptate repellat vero commodi
  hic voluptatibus deleniti eum deserunt excepturi quam, tempora explicabo quaerat esse, mollitia maxime natus eaque
  quos distinctio nesciunt obcaecati nobis neque ducimus? Id libero, dolore explicabo unde, at ut autem similique minus
  voluptatem doloremque non neque in ducimus quaerat placeat quisquam inventore cumque ipsa facere odio aut, repellat
  accusamus! Doloremque ipsum hic expedita blanditiis magni tempora voluptatum voluptates repellat labore non sint at
  distinctio repudiandae natus optio necessitatibus laborum in ipsam sunt praesentium, consectetur nam quisquam neque
  saepe. Consectetur, enim? Ipsam exercitationem laudantium, consequuntur quos excepturi iure dolor perspiciatis!
</div>

{%endblock%}