<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous" />
    <title>YogaConnect+</title>
    <link href="static/Skeleton.css" rel="stylesheet" />
    {%block head%}
    {% endblock %}
</head>

<body id="home">

    <nav class="navbar navbar-expand-sm fixed-top mx-auto" id="navigation">

        <img src="static/Logo.png" alt="Logo" class="navbar-brand rounded-circle" width="300px">
        <div class="container-fluid justify-content-end">


            <ul class="navbar-nav">

                <li class="nav-item p-3">
                    <a class="nav-link" href="#" data-bs-toggle="#home">Home</a>
                </li>

                <li class="nav-item p-3">
                    <a class="nav-link" href="#">Explore</a>
                </li>

                <li class="nav-item p-3">
                    <a class="nav-link" href="#">LogIn</a>
                </li>

            </ul>
        </div>
    </nav>

    {%block body%}
    {% endblock %}

    <!-- Footer -->
    <footer class="w-100">
        <div class="container-fluid justify-content-end row">
            <div class="container-fluid col-sm-8 mt-0">
                <img src="static/Logo.png" alt="Logo">
            </div>
            <div class=" container-fluid col-sm mt-5">
                <dl>
                    <dt>
                        Contact Us
                    </dt>
                    <dd class="mt-2">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Veniam deleniti laudantium ad corrupti
                        voluptatum consectetur repudiandae omnis consequatur quam! Similique.
                    </dd>
                </dl>
            </div>
        </div>

    </footer>
    <script src="static/Skeleton.js"></script>

</body>
</html>