<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous" />
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">
  <title>YogaConnect+</title>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.min.js"></script>
  <link href="static/Skeleton.css" rel="stylesheet" />
  <style>
@import url('https://fonts.googleapis.com/css2?family=Protest+Riot&display=swap')
</style>
  {%block head%}
  {% endblock %}
</head>

<body id="home">

  <nav class="navbar navbar-expand-md fixed-top mx-auto p-3" id="navigation">
    <div class="container-fluid style-offcanvas">
      <img src="static/Logo.png" alt="Logo" class="navbar-brand " width="200px">

      <button class="navbar-toggler style-offcanvas ml-auto" data-bs-toggle="offcanvas"
        data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar" style="color:#0D1B2A !important;">
        <div class="bar"></div>
        <div class="bar"></div>
        <div class="bar"></div>

      </button>

      <div class="offcanvas offcanvas-end style-offcanvas" tabindex="-1" id="offcanvasNavbar"
        aria-labelledby="offcanvasNavbarLabel">

        <div class="offcanvas-header style-offcanvas">

          <h5 class="offcanvas-title" id="offcanvasNavbarLabel">Menu</h5>

          <button type="button" class="btn-close text-reset" style="background-color:white !important;"
            data-bs-dismiss="offcanvas" aria-label="Close"></button>

        </div>

        <div class="offcanvas-body style-offcanvas">

          <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">

            <li class="nav-item">
              <a class="nav-link" href="#">Home</a>
            </li>

            <li class="nav-item">
              <a class="nav-link" href="#">Explore</a>
            </li>

            <li class="nav-item">
              <a class="nav-link" href="#">LogIn</a>
            </li>

          </ul>

        </div>

      </div>

    </div>
  </nav>

  {%block body%}
  {% endblock %}

  <!-- Footer -->
  <footer class="w-100">
    <div class="container-fluid justify-content-end row">
      <div class="container-fluid col-sm-8 mt-3">
        <img src="static/Full_Logo.jpg" alt="Logo" width="280px">
      </div>
      <div class=" container-fluid col-sm mt-5">
        <dl>
          <dt>
            Contact Us
          </dt>
          <dd class="mt-2">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Veniam deleniti laudantium ad corrupti
            voluptatum consectetur repudiandae omnis consequatur quam! Similique.
          </dd>
        </dl>
      </div>
    </div>

  </footer>
  <script src="static/Skeleton.js"></script>

</body>

</html>